.predict-box {
  width: 400px;
  height: 200px;
  background: linear-gradient(to bottom, #000000 5%, #3e053e);
  display: flex;
  padding: 20px;
  color: white;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  border-radius: 15px;
  border: white 1px solid;
}

.line {
  width: 440px;
  height: 1px;
  background-color: white;
}

.latest-box {
  width: 400px;
  height: 50px;
  background: linear-gradient(to bottom, #3e053e 5%, #000000);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  color: white;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
}

.spell-box {
  position: relative;
  width: 400px;
  height: 50px;
  background: linear-gradient(to bottom, #000000 5%, #3e053e);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 20px;
  color: white;
  font-size: 24px;
  font-family: "Times New Roman", Times, serif;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
}

.spell-box-content {
  flex: 1;
}

.overlay-button {
  position: absolute;
  top: 50%;
  left: 45%;
  height: 30px;
  transform: translateY(-50%);
  background-color: transparent;
  color: white;
  border-radius: 15px;
  font-family: "Times New Roman", Times, serif;
  cursor: pointer;
  font-size: 24px;
}

.detection-container {
  display: flex;
  height: 100vh;
  background-image: url("bck.png");
  flex-direction: column;
}

.content-container {
  display: flex;
  flex-direction: row;
}

.camera-container {
  width: 40%;
  margin-top: 5%;
  margin-left: 5%;
  margin-right: 20px;
}


.boxes-container {
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  margin-right: 10%;
}

.dashboard {
  margin-top: 4%;
  margin-left: auto;
  margin-right: auto;
  height: 20px;
  margin-bottom: 2%;
  display: flex;
  align-items: center;
}

.point-container {
  display: flex;
  margin-top: 6.5%;
  margin-left: 20%;
}

.gradientButton {
  background: linear-gradient(to bottom, #000000 5%, #3e053e);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  color: white;
  padding: 10px 20px;
  font-size: 18px;
  width: 250px;
  cursor: pointer;
  border-radius: 15px;
  font-family: "Times New Roman", Times, serif;
}

.gradientButton:hover {
  background: linear-gradient(to bottom, #3e053e 5%, #000000);
}

.button-box {
  cursor: pointer;
  background: linear-gradient(to bottom, #000000 5%, #3e053e);
  border-radius: 20px;
  border: 1.5px solid #706969;
  padding: 15px 20px;
  font-family: "Times New Roman", Times, serif;
  font-size: 20px;
  font-weight: 600;
  color: #fff;
  margin-right: 30%;
}

.button-box:hover {
  background: linear-gradient(to bottom, #3e053e 5%, #000000);
}