
.box {
  width: 400px; 
  height: 200px; 
  background: linear-gradient(to bottom, #000000 5%, #3e053e); 
  display: flex; 
  padding: 20px; 
  color: white; 
  font-size: 24px; 
  font-family: "Times New Roman", Times, serif; 
  border-bottom-left-radius: 15px; /* Adjust radius as needed */
  border-bottom-right-radius: 15px; 
  }

  .line {
    width: 437px; 
    height: 1px;
    background-color: white;
  }

  
.box2 {
  width: 400px; 
  height: 50px;
  background: linear-gradient(to bottom, #3e053e 5%, #000000); 
  display: flex; 
  justify-content: flex-start;
  align-items: center; 
  padding: 20px; 
  color: white;
  font-size: 24px; 
  font-family: "Times New Roman", Times, serif; 
  border-top-left-radius: 15px; /* Adjust radius as needed */
  border-top-right-radius: 15px; 
  }

  .container {
    display: flex;
    height: 100vh; 
    background-image: url("bck.png");  
  }


  
  .camera-container {
    width: 40%;
    margin-top: 8%;
    margin-left: 5%; 
  }
  
  .camera-container {
    margin-right: 20px; 
  }
  
  .boxes-container {
    display: flex;
    flex-direction: column;
    margin-top: 12%;
    margin-right: 10%;
  }

  .point-container {
    display: flex;
    margin-top: 13.5%;
    margin-left: 20%;
  } 

 
  
  .gradientButton {
    background: linear-gradient(to bottom, #000000 5%, #3e053e); 
    display: flex;   /* Define your gradient */
      align-items: center;
      justify-content: center;
      margin-right: auto;
      margin-left: auto;
      margin-top: 10px;
    color: white;
    padding: 10px 20px;
    font-size: 18px;
    width : 250px;
    cursor: pointer;
    border-radius: 15px;
    font-family: "Times New Roman", Times, serif; 
  }
  
  .gradientButton:hover {
    background: linear-gradient(to bottom, #3e053e 5%, #000000);  /* Define gradient for hover state */
  }
  